##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
var_empty = None #membuat variabel kosong

In [ ]:
var_empty #menampilkan variabel var_empty

2. > Create a variable containing your name (Points : 5)

In [ ]:
my_name='indah' #membuat variabel dengan nama "my_name"

In [ ]:
my_name #menampilkan variabel my_name

'indah'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
item_classroom = ['table','book','whiteboard','pencil','chair'] #membuat list dengan nama item_classroom

In [ ]:
item_classroom #menampilkan list item_classroom

['table', 'book', 'whiteboard', 'pencil', 'chair']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#membuat dictionary dengan nama dict_alphabet
dict_alphabet = {
    'vocal': ['a','i','u','e','o'],
    'consonant':['b','c','d','f','g']
}

In [ ]:
dict_alphabet #menampilkan dict_alphabet

{'vocal': ['a', 'i', 'u', 'e', 'o'], 'consonant': ['b', 'c', 'd', 'f', 'g']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#mendeklarasikan variabel
price=12000
quantity_sold=20
disc=0.1 #karena simbol % dalam python termasuk operator, maka bentuk persen diubah ke dalam bentuk desimal 
total_money=price*quantity_sold-(price*quantity_sold*disc)
print('So, the total money that the customer should pay is', int(total_money))#menampilkan total money

So, the total money that the customer should pay is 216000

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)
country = ['Indonesia','Malaysia','Vietnam','Singapore','Myanmar','Laos','Thailand'] #membuat list dengan nama country

In [ ]:
country #menampilkan list

['Indonesia',
 'Malaysia',
 'Vietnam',
 'Singapore',
 'Myanmar',
 'Laos',
 'Thailand']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)
country[0:4] #menampilkan 4 elemen pertama dalam list

['Indonesia', 'Malaysia', 'Vietnam', 'Singapore']

In [ ]:
# Append new country to the list (Points : 5)
country.append('Philippines') #menambahkan elemen baru ke dalam list yaitu Philippines

In [ ]:
country #menampilkan list setelah ditambahkan elemen baru

['Indonesia',
 'Malaysia',
 'Vietnam',
 'Singapore',
 'Myanmar',
 'Laos',
 'Thailand',
 'Philippines']

In [ ]:
# Drop one country from the list (Points : 5)
country.remove('Laos') #menghapus elemen Laos dalam list country

In [ ]:
country #menampilkan list setelah menghapus elemen Laos

['Indonesia',
 'Malaysia',
 'Vietnam',
 'Singapore',
 'Myanmar',
 'Thailand',
 'Philippines']

In [ ]:
# Get country in the last index (Points : 5)
country[-1] #menampilkan elemen terakhir

'Philippines'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below
#membuat dictionary dengan nama customer
customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)
dict.keys(customer) #menampilkan semua key dalam dictionary customer

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)
customer['name'] #menampilkan semua nama customer

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)
customer['name'][0] #menampilkan nama customer pertama

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)
del customer['age']#menghapus key age

In [ ]:
customer #nenampilkan dictionary customer setelah menghapus age

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 
customer['gender']=['Male'if x==1 else'Female'for x in customer['gender']] #mengganti customer gender 1 untuk Male dan 0 untuk Female

In [ ]:
customer #nenampilkan dictionary customer setelah mengganti gender

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ('Male', 'Female', 'Female', 'Male'),
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}